.container {
    margin: 25px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
    justify-content: center;
}

.card {
    width: 300px;
    height: auto;
    background-color: #1f1f1f;
    padding: 10px;
    margin: 10px;
    border: 15px solid #1b1c1e;
    border-radius: 10px;
    color: #d19c08;
    text-align: center;
}

.btn-container {
    display: flex;
    padding: 15px 60px;
    justify-content: space-evenly;
}

.btn {
    width: 80px;
    height: 40px;
    background-color: #d19c08;
    font-weight: bold;
    border: 0;
    border-radius: 5px;
}
